* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: SourceCode;
    font-size: 14px;
    min-height: 0px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    /* transition-property: background-color; */
    /* transition-duration: .5s; */
}

window#waybar.hidden {
    opacity: 0.2;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces {
    margin-left: 7px;
    margin-top: 5px;
    border-radius: 15px;
    background: #000000;
    border: solid 2px waybarColor;
}

#workspaces button {
    color: #ffffff;
}

#workspaces button:hover,
#workspaces button.active:hover {
    border-radius: 14px;
    text-shadow: inherit;
    box-shadow: inherit;
}

#workspaces button.urgent {
    color: red;
    font-weight: bold;
}

#clock,
#custom-battery,
#custom-cpu,
#custom-ram,
#custom-disk,
#custom-wifi,
#custom-eth,
#pulseaudio,
#custom-mullvad,
#tray {
    padding: 5px 5px;
    color: #ffffff;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 15px;
    background: #000000;
    border: solid 2px waybarColor;
    font-weight: bold;
}

/* Clock's margin should be 0 
   If tray exists it also handles clock's margin
*/
#clock {
    margin-right: 0px;
}

#tray {
    margin-right: 0px;
    margin-left: 5px;
}

.modules-right {
    margin-right: 7px;
}

/* #tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
} */
