[Unit]
Description=Low battery charge notifier
After=multi-user.target

[Service]
Type=simple
User=<sub<user>>
WorkingDirectory=/home/<sub<user>>
ExecStart=/home/<sub<user>>/.local/scripts/battery-notifier
Restart=on-abort

[Install]
WantedBy=multi-user.target
