html#main-window {
	--button-bgcolor: <ffx--button-bgcolor> !important;
	--button-hover-bgcolor: <ffx--button-hover-bgcolor> !important;
	--button-active-bgcolor: <ffx--button-active-bgcolor> !important;
	--button-primary-bgcolor: <ffx--button-primary-bgcolor> !important;
	--button-primary-hover-bgcolor: <ffx--button-primary-hover-bgcolor> !important;
	--button-primary-active-bgcolor: <ffx--button-primary-active-bgcolor> !important;
	--button-primary-color: <ffx--button-primary-color> !important;
	--input-bgcolor: <ffx--input-bgcolor> !important;
	--input-border-color: <ffx--input-border-color> !important;
	--autocomplete-popup-separator-color: <ffx--autocomplete-popup-separator-color> !important;
	--panel-banner-item-update-supported-bgcolor: <ffx--panel-banner-item-update-supported-bgcolor> !important;
	--panel-banner-item-info-icon-bgcolor: <ffx--panel-banner-item-info-icon-bgcolor> !important;
	--tab-icon-overlay-stroke: <ffx--tab-icon-overlay-stroke> !important;
	--lwt-accent-color: <ffx--lwt-accent-color> !important;
	--arrowpanel-background: <ffx--arrowpanel-background> !important;
	--arrowpanel-border-color: <ffx--arrowpanel-border-color> !important;
	--toolbar-field-background-color: <ffx--toolbar-field-background-color> !important;
	--toolbar-field-focus-background-color: <ffx--toolbar-field-focus-background-color> !important;
	--toolbar-bgcolor: <ffx--toolbar-bgcolor> !important;
	--toolbarbutton-icon-fill: <ffx--toolbarbutton-icon-fill> !important;
	--lwt-selected-tab-background-color: <ffx--lwt-selected-tab-background-color> !important;
	--autocomplete-popup-highlight-background: <ffx--autocomplete-popup-highlight-background> !important;
}
