* {
    font-family: JetBrainsMonoNerdFont;
    font-size: 14px;
    min-height: 0px;
    border: 0px;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
}

window#waybar {
    color: <sub<dwm-fgcolor>>;
    background-color: <sub<main-color>>;
}

#window {
    padding-left: 5px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces {
    background: rgb(0, 0, 0);
}

#workspaces button {
    padding: 1px 4px;
    color: <sub<dwm-fgcolor>>;
}

#workspaces button.active {
    color: <sub<dwm-fgcolor>>;
    background: <sub<main-color>>
}

#workspaces button.urgent {
    color: <sub<main-color>>;
    font-weight: bold;
}

#clock,
#custom-plstatus,
#tray {
    color: <sub<dwm-fgcolor>>;
    margin-top: 0px;
    margin-right: 0px;
    border-radius: 0px;
    background: rgb(0, 0, 0);
}

#tray,
#custom-plstatus {
    padding-left: 10px;
}
